<div class="container mt-2">
    <div class="row justify-content-center align-items-center">
      <div class="col-10 col-md-8 col-lg-6">
        <!-- Form -->
        <form class="form" action="" method="post">
          <h1>Create Store</h1>
          <!-- Store name  -->
          <div class="form-group">
            <label for="store-name">Store Name</label>
            <input
              type="text"
              class="form-control"
              id="store-name"
              placeholder="Enter store name"
              name="store-name"
            />
          </div>
          <!-- End Store name  -->
          
         <!-- Description -->
          <div class="form-group">
            <label for="store-des">Description</label>
            <textarea class="form-control" id="store-des" rows="3"></textarea>
          </div>
          <!-- End Description -->
          
          <!-- Is Available -->
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="is-available">
            <label class="form-check-label" for="is-available">Is Available Now</label>
          </div>
          <!-- End Available -->
  
          <button type="submit" class="btn btn-primary btn-block">Create new store</button>
          <button type="" class="btn btn-secondary btn-block">&lt;</button>
        </form>
      </div>
    </div>
  </div>