<div class="container mt-2">
  <div class="row justify-content-center align-items-center">
    <div class="col-10 col-md-8 col-lg-6">
      <!-- Form -->
      <form class="form" action="" method="post">
        <h1>Create Display</h1>

        <!-- Display name  -->
        <div class="form-group">
          <label for="display-name">Name</label>
          <input
            type="text"
            class="form-control"
            id="display-name"
            placeholder="Fill your display name"
            name="display-name"
          />
        </div>
        <!-- End Display name  -->
        <!-- Store name  -->
        <div class="form-group">
          <label for="store-name">Store Name</label>
          <input
            type="text"
            class="form-control"
            id="store-name"
            placeholder="Store Name - ID"
            name="store-name"
          />
        </div>
        <!-- End Srore name  -->

        <!-- Resolution -->
        <div class="form-group">
          <label for="display-resolution">Display resolution</label>
          <select class="form-control" id="display-resolution">
            <option>1280 x 760</option>
            <option>1280 x 760</option>
            <option>1280 x 760</option>
          </select>
        </div>
        <!-- End Resolution -->

        <!-- Description -->
        <div class="form-group">
          <label for="display-des">Description</label>
          <textarea class="form-control" id="display-des" rows="3"></textarea>
        </div>
        <!-- End Description -->

        <!-- Is Available -->
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="is-available" />
          <label class="form-check-label" for="is-available"
            >Is Available Now</label
          >
        </div>
        <!-- End Available -->

        <button type="submit" class="btn btn-primary btn-block">Create</button>
        <button type="" class="btn btn-secondary btn-block">&lt;</button>
      </form>
    </div>
  </div>
</div>
