mat-card {
  position: relative;
  float: left;
  width: 99%;
}
mat-card:before {
  content: "";
  float: left;
  padding-top: 57%;
}
#template-root {
  position: relative;
  float: left;
  width: 99%;
}
#template-root:before {
  content: "";
  float: left;
  padding-top: 57%;
}
mat-toolbar {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 500;
}
mat-drawer {
  min-width: 22vw;
}
button {
  width: 10rem;
}

mat-selection-list {
  max-height: 20rem;
}
